* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.leaflet-container h1 a {
  all: inherit;
}
h1:hover {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 5px;
}

#map-container {
  height: 100svh;
}

#map {
  height: 100%;
  position: relative;
  user-select: none;
}
#page-header {
  left: auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 313412;
}
h1 {
  color: rgba(0, 0, 0, 0.65);
}
/* animate page-header to slide up and out of screen */
.slide-up-fade-out {
  animation: slide-up-fade-out 1s ease-in-out forwards;
}
@keyframes slide-up-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.slide-down-fade-in {
  animation: slide-down-fade-in 1s ease-in-out forwards;
}
@keyframes slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation: fade-out 1s ease-in-out forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.leaflet-control-zoom {
  position: absolute;
  top: 90px;
}
.control_container {
  border: 2px solid grey;
  border-radius: 10px;
}
.bi-list {
  font-size: large;
}
.range {
  top: -2px !important;
}
.range input {
  top: 3px !important;
}
.range-labels li {
  width: 65px;
}
.range-labels li::before {
  top: -22px !important;
}
#mobile-menu-container {
  position: relative;
  width: 225px;
  z-index: 313412;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid grey;
  border-radius: 10px;
  padding: 0px 10px;
}

#clearBtn,
#toggleBtn {
  font-size: x-small;
}

input {
  font-size: 16px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#chart-container {
  height: 40vh;
}
.logo {
  height: 50px;
  object-fit: contain;
  margin: 1rem;
}

#postalCodeBtn {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.party-card {
  box-sizing: border-box;
}

.leaflet-popup-content {
  margin: 1rem;
}

.leaflet-popup-content p {
  margin: 0;
}

.year-history-card {
  width: 200px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 150px;
  height: 150px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card ul li {
  font-size: xx-small;
}
.grc-name {
  font-weight: 200;
}

.winner-card-border {
  /* background-color: rgb(230, 250, 230); */
  border-radius: 10px;
  border: 3px solid lightgreen;
}
.loser-card-border {
  /* background-color: rgb(255, 225, 225); */
  border-radius: 10px;
  border: 3px solid lightcoral;
}

.leaflet-interactive:focus {
  outline: none;
}

@keyframes flipping-back {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipping-forward {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.flip-backwards {
  animation: flipping-back 1s linear;
  animation-fill-mode: forwards;
}

.flip-forwards {
  animation: flipping-forward 1s linear;
  animation-fill-mode: forwards;
}

.shepherd-element {
  max-width: 250px;
  z-index: 313415;
  border: 1px solid black;
}
.shepherd-arrow:before {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.shepherd-footer {
  justify-content: space-around;
}

.shepherd-title {
  justify-content: center;
}
.shepherd-text p {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  #page-header {
    left: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 313412;
  }
  h1 {
    color: rgba(255, 255, 255, 0.65);
  }
}

@media screen and (min-width: 768px) {
  #mobile-menu-container {
    display: flex;
  }
  .leaflet-control-zoom {
    position: absolute;
    top: 110px;
  }
  #clearBtn,
  #toggleBtn {
    font-size: medium;
  }
  .shepherd-element {
    max-width: 300px;
  }
  #map-container {
    height: 100svh;
    max-width: 1320px;
  }
  .flip-card-front,
  .flip-card-back {
    box-shadow: none;
  }
  .flip-card-front:hover,
  .flip-card-back:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}
@media screen and (min-width: 992px) {
  .leaflet-control-zoom {
    position: absolute;
    top: 130px;
  }
  .shepherd-element {
    max-width: 350px;
  }
}
