body {
  background-color: snow;
}

#map {
  height: 50vh;
}

#map {
  position: relative;
}
#toggleBtn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 31412;
}

/* #myChart {
  height: 30vh;
} */
